<!-- Page header -->
<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">{{pagePretitle}}</div>
        <h2 class="page-title">{{pageTitle}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{pageTitle}}</h3>
        <p class="text-secondary mb-0">{{pageDescription}}</p>
      </div>
    </div>
  </div>
</div>
